@font-face {
    font-family: "Open Sans Condensed";
    src: url(../fonts/OpenSansCondensed-Light.ttf) format('truetype');
    font-weight: 300;
}

@font-face {
    font-family: "PT Sans";
    src: url(../fonts/PTSans-Regular.ttf) format('truetype');
    font-weight: 400;
}

@font-face {
    font-family: "PT Sans";
    src: url(../fonts/PTSans-Bold.ttf) format('truetype');
    font-weight: 700;
}

* {
    box-sizing: border-box;
}

body{
    width: 100%;
    overflow-x: hidden;
}
a{
    text-decoration: none;
    color: #767676;
}
.header {
    width: 100%;
    padding: 45px 10px 65px;
    background:#fff;
    position: relative;
    z-index: 1005;
}
.header_burger{
    display: none;
}
.header-content {
    max-width: 980px;
    margin: 0 auto;
    display: flex;
    align-items: flex-end;
    justify-content: space-between;
}
.phone-number{
    display: block;
    font-size: 40px;
    font-weight: 300;
    font-family: "Open Sans Condensed";
    letter-spacing: 1px;
    line-height: 46px;
    text-align: right;
}
.feedback-link a{
    font-size: 24px;
    font-weight: 700;
    font-family: "PT Sans";
    text-align: right;
    letter-spacing: 1px;
    line-height: 46px;
    text-decoration: underline dashed;
}
.feedback-link {
    text-align: right;
}

.menu {
    background: #767676;
    padding: 10px 0;
}
.list-menu {
    list-style-type: none;
    padding: 0;
    margin: 0;
    text-align: center;
}
.menu-item {
    display: inline-block;
    position: relative;
}
.menu-link {
    color: white;
    padding: 10px 15px;
    font-size: 30px;
    font-weight: 400;
    font-family: "PT Sans";
    display: block;
}
.menu-link:hover {
    text-decoration: underline;
    cursor: pointer;
}
.menu-item:not(:last-child)::after {
    content: "|";
    position: absolute;
    right: -3px;
    top: 50%;
    transform: translateY(-50%);
    color: #fff;
}
.slider {
    position: relative;
    width: 100%;
}
.slick-list {
    overflow: hidden;
}
.slick-track{
    display: flex;
}

.slick-arrow{
    position: absolute;
    top: 50%;
    font-size: 0;
    width: 34px;
    height: 50px;
    z-index: 1001;
}

.slick-arrow.slick-prev{
    left: 320px;
    background: url('../image/left.jpg') 0 0 / 100% no-repeat;
}

.slick-arrow.slick-next{
    right: 320px;
    background: url('../image/right.jpg') 0 0 / 100% no-repeat;
}

.slider-item{
    text-align: center;
    transition: opacity 0.5s ease-in-out;
}

.container{
    max-width: 980px;
    margin: 0 auto;
}

.breadcrumb-item{
    padding: 10px 0 7px;
    font-size: 14px;
    letter-spacing: 0px;
    line-height: 18px;
    font-weight: 400;
    font-family: "PT Sans"; 
}

.breadcrumb-item a {
    text-decoration: underline;
}

.content{
    display: flex;
}
.rightblock{
    max-width: 780px;
}
.leftblock{
    max-width: 200px;
}
@media (max-width:1450px){
    .slick-arrow.slick-prev{
        left: 230px;
    }
    
    .slick-arrow.slick-next{
        right: 230px;
    }
}

@media (max-width:1368px){
    .slick-arrow.slick-prev{
        left: 200px;
    }
    
    .slick-arrow.slick-next{
        right: 200px;
    }
}


@media (max-width:1024px){
    .logo-img{
        width: 220px;
    }
    .phone-number{
        font-size: 32px;
        line-height: 36px;
    }
    .feedback-link a {
        font-size: 20px;
    }
    .header {
        padding-top: 20px;
        padding-bottom: 10px;
    }
    .header_burger {
        display: block;
        position: relative;
        bottom: 10px;
        width: 30px;
        height: 20px;
    }
    .header_burger span{
        position:absolute;
        background-color: #000;
        left: 0;
        width: 100%;
        height: 2px;
        top: 9px;          
        transition: all 0.3s ease 0s;
    }
    .header_burger::before,
    .header_burger::after {
        content: '';
        background-color:#000;
        position: absolute;
        width: 100%;
        height: 2px ;
        left: 0;
        transition: all 0.3s ease 0s;
    }
    .header_burger::before{
        top: 0;
    }
    .header_burger::after{
        bottom: 0;
    }
    .header_burger.active span{
        transform: scale(0);
    }
    .header_burger.active::before{
        transform: rotate(45deg);
        top: 9px;
    }
    .header_burger.active::after{
        transform: rotate(-45deg);
        bottom: 9px;
    }
    .menu{
        position: fixed;
        top:-100%;
        left: 0;
        width: 100%;
        height: 100%;
        background-color: #1864a4;
        padding: 150px 10px 20px 10px ;
        overflow-y: auto;
        z-index: 1004;
    }
    .menu.active{
        top: 0;
    }
    .menu-item{
        display: block;
        position: static;
        margin-bottom: 0px 0px 20px 0px;
    }
    .menu-link{
        font-size: 20px;
    }
    .slick-arrow.slick-prev{
        left: 60px;
    }
    
    .slick-arrow.slick-next{
        right: 60px;
    }
}
@media (max-width:768px) {
    .logo-img{
        width: 180px;
    }
    .phone-number{
        display: none;
    }
    .feedback-link a{
        font-size: 16px;
    }
    .feedback-link{
        position: relative;
        bottom: 28px;
    }
    .header_burger{
        position: relative;
        bottom: 40px;
        right: 15px;
    }
    .menu-link{
        font-size: 18px;
    }
    .slider-item img {
        max-width: 760px;
    }
}
@media (max-width: 600px) {
    .header-content {
        flex-direction: column;
        align-items: center;
    }
    
    .logo {
        margin-bottom: 10px;
    }

    .feedback-link {
        text-align: center;
    }
    .feedback-link a{
        position: relative;
        top: 7px;
    }
    .menu{
        padding-top:215px;
    }
    .header_burger{
        top: 0;
    }
    .feedback-link {
        top: 0;
    }
    .slick-arrow.slick-prev{
        left: 20px;
    }
    
    .slick-arrow.slick-next{
        right: 20px;
    }
    
    .slider-item img {
        max-width: 580px;
    }
   
}






