@font-face {
    font-family: "Open Sans Condensed";
    src: url(../fonts/OpenSansCondensed-Light.ttf) format('truetype');
    font-weight: 300;
}

* {
    box-sizing: border-box;
}

body {
    width: 100%;
    overflow-x: hidden;
}

a {
    text-decoration: none;
    color: #767676;
}
.container {
    max-width: 1000px;
    padding: 0 10px;
    margin: 0 auto;
}

.header {
    width: 100%;
    max-height: 230px;
    padding: 45px 10px 65px;
    background: #fff;
    position: relative;
    z-index: 1005;
}

.header__burger {
    display: none;
}

.header__content {
    display: flex;
    align-items: flex-end;
    justify-content: space-between;
}

.header__contacts {
    text-align: right;
}

.header__phone-number {
    display: block;
    font-size: 40px;
    font-weight: 300;
    font-family: "Open Sans Condensed";
    letter-spacing: 1px;
    line-height: 46px;
}

.header__feedback-link a {
    font-size: 24px;
    font-weight: 700;
    font-family: "PT Sans";
    text-decoration: 2px underline dashed;
    text-underline-offset: 3px;
    letter-spacing: 1px;
    line-height: 46px;
}

.menu {
    background: #767676;
    padding: 10px 0;
}

.menu__list{
    list-style-type: none;   
}

.menu__list:first-child {
    position: relative;
    left: 19px;

}

.menu__item {
    display: inline-block;
    position: relative;
}


.menu__link {
    color: white;
    padding: 10px 15px;
    font-size: 30px;
    font-weight: 400;
    font-family: "PT Sans";
    display: block;
}

.menu__link:hover {
    text-decoration: underline;
    cursor: pointer;
}

.menu__item:not(:last-child)::after {
    content: "|";
    position: absolute;
    right: -3px;
    top: 50%;
    transform: translateY(-50%);
    color: #fff;
}

.slider {
    position: relative;
    width: 100%;
}
.slick-list {
    overflow: hidden;
}
.slick-track{
    display: flex;
    max-height: 390px;
    align-items: center;
}

.slick-arrow{
    position: absolute;
    top: 50%;
    font-size: 0;
    width: 34px;
    height: 50px;
    z-index: 1001;
}

.slick-arrow.slick-prev{
    left: 320px;
    background: url('../image/left.jpg') 0 0 / 100% no-repeat;
}

.slick-arrow.slick-next{
    right: 320px;
    background: url('../image/right.jpg') 0 0 / 100% no-repeat;
}

.slider__item{
    text-align: center;
    transition: opacity 0.5s ease-in-out;
}

.container{
    max-width: 1000px;
    padding: 0 10px;
    margin: 0 auto;
}

.breadcrumb {
    margin-bottom: 20px;
}

.breadcrumb-item{
    padding: 10px 0 7px;
    font-size: 14px;
    letter-spacing: 0px;
    line-height: 18px;
    font-weight: 400;
    font-family: "PT Sans"; 
}

.breadcrumb-item a {
    text-decoration: underline;
}
.content{
    display: flex;
}
.content__rightblock {
    max-width: 780px;
}

.content__leftblock {
    max-width: 200px;
}

.content-menu__list {
    padding-left: 0;
    margin-bottom: 120px;
}

.content-menu__sublist {
    max-height: 0;
    opacity: 0;
    overflow: hidden;
    transition: max-height 2s ease, opacity 1.3s ease;
}

.content-menu__item {
    list-style: none;
    margin-bottom: 17px;
}


.content-menu__subitem {
    list-style: disc;
    margin-bottom: 6px;
}

.content-menu__list :last-child, 
.content-menu__sublist :last-child {
    margin-bottom: 0px;
}

.content-menu__link {
    font-size: 18px;
    letter-spacing: 0;
    line-height: 30px;
    color: #767676;
    font-weight: 400;
    font-family: 'PT Sans';
}

.content-menu__item:hover .content-menu__sublist {
    max-height: 200px;
    opacity: 1;
}
.content-menu__link:hover {
    text-decoration: underline;
    text-underline-offset: 3px;
}

.content-menu__sublink{
    font-size: 11px;
    line-height: 25px;
}

.content-menu__sublink:hover {
    font-weight: 700;
    text-decoration: underline;
    text-underline-offset: 3px;
}
.content-menu__item:hover .content-menu__link{
    text-decoration: underline;
    text-underline-offset: 3px;
}

.price-list {
    padding: 0 34px 0px 15px;
    margin-bottom: 34px;
}

.price-list__logo{
    margin-left: 29px;
}

.price-list__text {
    display: inline-block;
    min-width: 150px;
    max-width: 200px;
    font-size: 30px;
    line-height: 25px;
    color: #444444;
    font-family: 'PT Sans';
    font-weight: 700;
}

.row {
    display: flex;
    justify-content: space-between;
    margin: 0 0 20px 0;
}
.product-card{
    max-width: 31%;
    height: auto;
    background-color: #c6c6c6;
    margin-right: 15px;
    padding: 15px;
}
.product-card:last-child{
    margin-right: 0;
}

.row:last-child {
    margin-bottom: 0;
}

.product-card__image {
    display: block;
    max-width: 210px;
    max-height: 210px;
    width: 100%;
    height: auto;
    margin: 0 auto 20px;
}

.product-card__title {
    display: block;
    font-size: 18px;
    line-height: 18px;
    color: #767676;
    font-weight: 400;
    font-family: 'PT Sans';
    margin: 0  0 50px 0;
}
.product-card_price {
    display: inline-block;
    font-size: 28px;
    letter-spacing: 1px;
    line-height: 18px;
    color: #444444;
    font-weight: 700;
    font-family:'PT Sans';
    padding-bottom: 7px;
}
.product-card__checkout-logo {
    display: block;
    position: relative;
    right: 15px;
}
.product-card__bottom {
    display:flex;
    justify-content: space-between;

}
.content__catalog {
    margin-bottom: 25px;
}
.content__pagination {
    margin-bottom: 60px;
}
.content__rightblock-bottom {
    display: flex;
    justify-content: space-between;
    border-top: solid #000 1px ;
    margin-bottom: 200px;
}
.bottom-text {
    font-size: 14px;
    line-height: 22px;
    letter-spacing: 0;
    color: #767676;
    font-weight: 400;
    font-family: 'PT Sans';
    padding-top: 30px;
    max-width: 48%;
}






























@media (max-width:1450px) {
    .slick-arrow.slick-prev {
        left: 230px;
    }
    
    .slick-arrow.slick-next {
        right: 230px;
    }
}

@media (max-width:1368px) {
    .slick-arrow.slick-prev {
        left: 200px;
    }
    
    .slick-arrow.slick-next {
        right: 200px;
    }
}

@media (max-width:1024px) {
    .logo__img {
        width: 220px;
    }

    .header__phone-number {
        font-size: 32px;
        line-height: 36px;
    }

    .header__feedback-link a {
        font-size: 20px;
    }

    .header {
        padding-top: 20px;
        padding-bottom: 10px;
    }

    .header__burger {
        display: block;
        position: relative;
        bottom: 10px;
        width: 30px;
        height: 20px;
    }

    .header__burger span {
        position: absolute;
        background-color: #000;
        left: 0;
        width: 100%;
        height: 2px;
        top: 9px;
        transition: all 0.3s ease 0s;
    }

    .header__burger::before,
    .header__burger::after {
        content: '';
        background-color: #000;
        position: absolute;
        width: 100%;
        height: 2px;
        left: 0;
        transition: all 0.3s ease 0s;
    }

    .header__burger::before {
        top: 0;
    }

    .header__burger::after {
        bottom: 0;
    }

    .header__burger--active span {
        transform: scale(0);
    }

    .header__burger--active::before {
        transform: rotate(45deg);
        top: 9px;
    }

    .header__burger--active::after {
        transform: rotate(-45deg);
        bottom: 9px;
    }

    .menu {
        position: fixed;
        top: -100%;
        left: 0;
        width: 100%;
        height: 100%;
        background-color: #1864a4;
        padding: 150px 10px 20px 10px;
        overflow-y: auto;
        z-index: 1004;
    }

    .menu--active {
        top: 0;
    }

    .menu__item {
        display: block;
        position: static;
        text-align: center;
        margin-bottom: 0px 0px 20px 0px;
    }

    .menu__link {
        font-size: 20px;
    }

    .slick-arrow.slick-prev {
        left: 60px;
    }

    .slick-arrow.slick-next {
        right: 60px;
    }
    
    .content-menu__link {
        font-size: 16px;
    }

    .price-list__text {
        font-size: 24px;
    }

    .product-card__title {
        font-size: 16px;
        line-height: 16px;
        margin:  0 0 35px 0;
    }
    
    .product-card__price {
        font-size: 18px;
    }
}

@media (max-width:768px) {
    .logo__img {
        width: 180px;
    }

    .header__phone-number {
        display: none;
    }

    .header__feedback-link a {
        font-size: 16px;
    }

    .header__feedback-link {
        position: relative;
        bottom: 28px;
    }

    .header__burger {
        position: relative;
        bottom: 40px;
        right: 15px;
    }

    .menu__link {
        font-size: 18px;
    }

    .slider__item img {
        max-width: 760px;
    }
    
    .content__rightblock {
        width: 100%;
    }
    .content__rightblock-bottom {
        display: none;
    }

    .row {
        flex-direction: column;
    }

    .product-card:last-child {
        margin-right: auto;
    }
    .product-card {
        margin: 0 auto 20px;
        max-width: 200px;
    }

}

@media (max-width:600px) {
    .header__content {
        flex-direction: column;
        align-items: center;
    }

    .logo {
        margin-bottom: 10px;
    }

    .header__feedback-link {
        text-align: center;
    }

    .header__feedback-link a {
        position: relative;
        top: 7px;
    }

    .menu {
        padding-top: 215px;
    }

    .header__burger {
        top: 0;
    }

    .header__feedback-link {
        top: 0;
    }

    .slick-arrow.slick-prev {
        left: 20px;
    }

    .slick-arrow.slick-next {
        right: 20px;
    }

    .slider__item img {
        max-width: 580px;
    }
}

@media (max-width: 480px) {
    .content-menu, .price-list{
        display: none;
    }

    .content-menu { 
        position: absolute;
        width: 50%;

    }
    .content-menu--active{
        display: block;
        background-color: #fff;
    }
    .content__burger {
        display: block;
        position: relative;
        bottom: 10px;
        width: 30px;
        height: 20px;
    }

    .content__burger span {
        position: absolute;
        background-color: #000;
        left: 0;
        width: 100%;
        height: 2px;
        top: 9px;
        transition: all 0.3s ease 0s;
    }

    .content__burger::before,
    .content__burger::after {
        content: '';
        background-color: #000;
        position: absolute;
        width: 100%;
        height: 2px;
        left: 0;
        transition: all 0.3s ease 0s;
    }

    .content__burger::before {
        top: 0;
    }

    .content__burger::after {
        bottom: 0;
    }

    .content__burger--active span {
        transform: scale(0);
    }

    .content__burger--active::before {
        transform: rotate(45deg);
        top: 9px;
    }

    .content__burger--active::after {
        transform: rotate(-45deg);
        bottom: 9px;
    }

}
