@font-face {
    font-family: "Open Sans Condensed";
    src: url(../fonts/OpenSansCondensed-Light.ttf) format('truetype');
    font-weight: 300;
}

* {
    box-sizing: border-box;
}

html, body {
    width: 100%;
    overflow-x: hidden;
    font-size: 14px;
    font-weight: 400;
    font-family: "PT Sans";
    color: #767676;
}

.lock {
    height: 100vh;
    overflow: hidden;
}

a {
    text-decoration: none;
    color: #767676;
}
.container {
    max-width: 1000px;
    padding:0 10px ;
}

.wrapper {
    min-height: 100vh;
}
.header {
    width: 100%;
    padding: 35px 0 65px;
    background: #fff;
    position: relative;
    z-index: 1005;
}
.header__leftblock {
    display: flex;
}
.header__logo {
    width: 100px;
    height: 100px;
}

.header__logo img {
    height: 100px;
    width: 100px;
    max-width: 100%;
}

.header__text {
    padding-top: 7px;
    padding-left: 10px;
}

.header__title {
    font-weight: 700;
    line-height: 24px;
}

.header__burger,
.header__feedback_icon,
.header__phone-icon
{
    display: none;
}

.header__content {
    display: flex;
    align-items: flex-end;
    justify-content: space-between;
}

.header__contacts {
    text-align: right;
}

.header__phone-number {
    display: block;
    font-size: 40px;
    font-weight: 300;
    font-family: "Open Sans Condensed";
    letter-spacing: 1px;
    line-height: 46px;
}

.header__feedback-link a {
    font-size: 24px;
    font-weight: 700;
    text-decoration: 2px underline dashed;
    text-underline-offset: 3px;
    letter-spacing: 1px;
    line-height: 46px;
}
.overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.8);
    display: none;
}
.feedback{
    display: none;
    position: absolute;
    top: 110%;
    right: 40%;
    height: auto;
}

.feedback__close {
    width: 30px;
    background: #767676;
    position: relative;
    right: -90%;
}

.feedback img {
    width: 100%;
}

.feedback__container {
    max-width: 90%;
    width: 470px;
    height: auto;
    background-color: #fff;
    padding: 26px 62px;
    max-height: 80vh;
    overflow: auto;
}

.feedback__inputs {
    max-width: 340px;   
}

.feedback__title {
    font-size: 24px;
    text-transform: uppercase;
    color: #535353;
    font-weight: 700;
    text-align: center;
    margin-bottom: 30px;
}

.feedback__field {
    margin-bottom: 18px;
}

.feedback__field:last-child {
    margin-bottom: 0;
}

.feedback__field {
    display: flex;
    flex-direction: column;
}

.feedback__field label {
    color: #535353;
    text-align: center;
}

input {
    height: 40px;
    padding: 10px;
}

.submitted input:required:invalid {
    box-shadow: inset 0 0 6.5px rgba(228, 106, 106, 0.75);
    border: 1px solid #ff8383;
}

input, textarea {
    border: 1px solid #c3c3c3 ;
    width: 100%;
}

textarea {
    height: 140px;
}
.feedback__button button {
    width: 140px;
    height: 40px;
    font-size: 18px;
    line-height: 20px;
    text-transform: uppercase;
    color: #fff;
    font-weight: 700;
    background: #767676;
    text-align: center;
    border: none;
}
.feedback__button {
    width: 100%;
    text-align: center;
}

.menu {
    background: #767676;
    padding: 10px 0;
}

.menu__list{
    list-style-type: none;   
}

.menu__item {
    display: inline-block;
    position: relative;
}

.menu__link {
    color: white;
    padding: 10px 15px;
    font-size: 30px;
    display: block;
}

.menu__link:hover {
    text-decoration: underline;
    cursor: pointer;
}

.menu__item:not(:last-child)::after {
    content: "|";
    position: absolute;
    right: -3px;
    top: 50%;
    transform: translateY(-50%);
    color: #fff;
}

.slider {
    position: relative;
    width: 100%;
}
.slick-list {
    overflow: hidden;
}
.slick-track{
    display: flex;
    max-height: 390px;
    align-items: center;
}

.slick-arrow{
    position: absolute;
    top: 50%;
    right: 50%;
    font-size: 0;
    width: 34px;
    height: 60px;
    z-index: 1001;
    margin-top: -30px;
}

.slick-arrow.slick-prev{
    transform: translate(-456px, 0);
    background: url('../image/left.jpg') center center / 100% no-repeat;
}

.slick-arrow.slick-next{
   transform: translate(456px, 0);
    background: url('../image/right.jpg') center center / 100% no-repeat;
}

.slider__item{
    text-align: center;
    transition: opacity 0.5s ease-in-out;
}

.slider__item img {
    max-width: 100%;
}
.breadcrumb {
    margin-bottom: 20px;
}

.breadcrumb-item{
    padding: 10px 0 7px;
    font-size: 14px;
    letter-spacing: 0px;
    line-height: 18px;
}

.breadcrumb-item a {
    text-decoration: underline;
}
.content{
    display: flex;
}
.content__rightblock {
    max-width: 780px;
}

.content__leftblock {
    max-width: 200px;
}

.content-menu__list {
    padding-left: 0;
    margin-bottom: 120px;
}

.content-menu__sublist {
    max-height: 0;
    opacity: 0;
    overflow: hidden;
    transition: max-height 2s ease, opacity 1.3s ease;
}

.content-menu__item {
    list-style: none;
    margin-bottom: 17px;
}


.content-menu__subitem {
    list-style: disc;
    margin-bottom: 6px;
}

.content-menu__list :last-child, 
.content-menu__sublist :last-child {
    margin-bottom: 0px;
}

.content-menu__link {
    font-size: 18px;
    letter-spacing: 0;
    line-height: 30px;
    color: #767676;
    font-weight: 400;
    font-family: 'PT Sans';
}

.content-menu__item:hover .content-menu__sublist {
    max-height: 200px;
    opacity: 1;
}
.content-menu__link:hover {
    text-decoration: underline;
    text-underline-offset: 3px;
}

.content-menu__sublink{
    font-size: 14px;
    line-height: 25px;
}

.content-menu__sublink:hover {
    font-weight: 700;
    color: #000;
    text-decoration: underline;
    text-underline-offset: 3px;
}
.content-menu__item:hover .content-menu__link{
    text-decoration: underline;
    text-underline-offset: 3px;
}

.price-list {
    padding: 0 34px 0px 15px;
    margin-bottom: 34px;
}

.price-list__logo{
    margin-left: 29px;
}

.price-list__text {
    display: inline-block;
    min-width: 150px;
    max-width: 200px;
    font-size: 30px;
    line-height: 25px;
    color: #444444;
    font-family: 'PT Sans';
    font-weight: 700;
}

.row {
    display: flex;
    justify-content: space-between;
    margin: 0 0 20px 0;
}
.product-card{
    max-width: 31%;
    height: auto;
    background-color: #c6c6c6;
    margin-right: 15px;
    padding: 15px;
}
.product-card:last-child{
    margin-right: 0;
}

.row:last-child {
    margin-bottom: 0;
}

.product-card__image {
    display: block;
    max-width: 210px;
    max-height: 210px;
    width: 100%;
    height: auto;
    margin: 0 auto 20px;
}

.product-card__title {
    display: block;
    font-size: 18px;
    line-height: 18px;
    color: #767676;
    font-weight: 400;
    font-family: 'PT Sans';
    margin: 0  0 50px 0;
}
.product-card_price {
    display: inline-block;
    font-size: 28px;
    letter-spacing: 1px;
    line-height: 18px;
    color: #444444;
    font-weight: 700;
    font-family:'PT Sans';
    padding-bottom: 7px;
}
.product-card__checkout-logo {
    display: block;
    position: relative;
    right: 15px;
}
.product-card__bottom {
    display:flex;
    justify-content: space-between;

}
.content__catalog {
    margin-bottom: 25px;
}
.content__pagination {
    margin-bottom: 60px;
}

.page-link {
    border: none;
    color: #767676;
    letter-spacing: 8px;
    line-height: 22px;
}
.page-link--active {
    font-size: 20px;
}
.content__rightblock-bottom {
    display: flex;
    justify-content: space-between;
    border-top: solid #000 1px ;
    margin-bottom: 200px;
}
.bottom-text {
    font-size: 14px;
    line-height: 22px;
    letter-spacing: 0;
    color: #767676;
    font-weight: 400;
    font-family: 'PT Sans';
    padding-top: 30px;
    max-width: 48%;
}

.footer {
    bottom: 0;
    width: 100%;
    background-color:#767676 ;
    color: #fff;
}

.footer-container {
    display: flex;
    justify-content: space-between;
    padding: 50px 10px;
}

.footer__leftblock span, 
.footer__leftblock a
{
    display: block;
    letter-spacing: 0px;
    line-height: 22px;
}

.footer__leftblock a {
    color: #fff;
} 

.footer__menu-list {
    list-style: none;
    margin: 0;
    padding: 0;
}

.footer__menu-item {
    color: #fff;
    text-decoration: underline;
}

.footer__rightblock {
    display: flex;
    max-width: 30%;
}
.title-companydev {
    display: block;
    padding-left: 10px;
}

.logo-companydev {
    max-height: 40px;
}
.title-companydev a {
    color: #fff;
    text-decoration: underline;
}

@media (max-width:1024px) {
    .wrapper {
        position: relative;
        top: 80px;
    }
    .header__feedback-icon,
    .header__phone-icon,
    .header__burger{
        display: block;
        width: 30px;
        position: absolute;
        top: 20px;
        right: 65px;
    }

    .header__phone-icon {
        right: 115px;
    }

    .header__phone{
        padding: 5px;
        display: none;
        position: absolute;
        top: 65px;
        right: 65px;
        border: #c6c6c6 solid 2px;
        border-radius: 10px;
        background: #fff;
    }
    .header__phone-number{
        right: 100px;
        font-size: 20px;
        line-height: 24px;
    }

    .header__phone--active {
        display: block;
    }

    .header__feedback-link a {
        display: none;
        font-size: 20px;
    }

    .header {
        position: fixed;
        padding-top: 20px;
        padding-bottom: 10px;
    }

    .header__logo {
        height: 50px;
    }

    .header__logo img {
        height: 50px;
        width: 50px;
    }

    .header_subtitle {
        display: none;
    }

    .header__burger {
        right: 10px;
        height: 20px;
        cursor: pointer;
    }

    .header__burger span {
        position: absolute;
        background-color: #000;
        left: 0;
        width: 100%;
        height: 2px;
        top: 9px;
        transition: all 0.3s ease 0s;
    }

    .header__burger::before,
    .header__burger::after {
        content: '';
        background-color: #000;
        position: absolute;
        width: 100%;
        height: 2px;
        left: 0;
        transition: all 0.3s ease 0s;
    }

    .header__burger::before {
        top: 0;
    }

    .header__burger::after {
        bottom: 0;
    }

    .header__burger--active span {
        transform: scale(0);
    }

    .header__burger--active::before {
        transform: rotate(45deg);
        top: 9px;
    }

    .header__burger--active::after {
        transform: rotate(-45deg);
        bottom: 9px;
    }

    .feedback{
        overflow: hidden;
    }
    .menu {
        position: fixed;
        transition: ease 1s;
        top: -100%;
        left: 0;
        width: 100%;
        height: 100%;
        background-color: #767676;
        padding: 100px 10px 20px 10px;
        overflow-y: auto;
        z-index: 1004;
    }

    .menu--active {
        transition: ease 1s;
        top: 0;
    }

    .menu__item {
        transition: ease 1s;
        display: block;
        position: static;
        text-align: center;
        margin-bottom: 0px 0px 20px 0px;
    }
    .menu__list {
        margin: 0;
        padding: 0;
    }

    .menu__link {
        font-size: 20px;
    }

    .slick-arrow.slick-prev {
        transform: translate(0, 0);
        left: 60px;
    }

    .slick-arrow.slick-next {
        transform: translate(0, 0);
        right: 60px;
    }
    
    .content-menu__link {
        font-size: 16px;
    }

    .price-list__text {
        font-size: 24px;
    }

    .product-card__title {
        font-size: 16px;
        line-height: 16px;
        margin:  0 0 35px 0;
    }
    
    .product-card__price {
        font-size: 18px;
    }

    .content__rightblock-bottom {
        margin-bottom: 120px;
    }
}

@media (max-width:1024px) and (orientation: landscape){
    .feedback {
        overflow: auto;
    }
}

@media (orientation: landscape) {
    .feedback {
        top: 20%;
    }
}

@media (max-width:768px) {

    .feedback{
        right: 10%;
    }

    .menu__link {
        font-size: 18px;
    }
    
    .content__rightblock {
        width: 100%;
    }
    .content__rightblock-bottom {
        display: none;
    }

    .row {
        flex-direction: column;
    }

    .product-card:last-child {
        margin-right: auto;
    }
    .product-card {
        margin: 0 auto 20px;
        max-width: 200px;
    }
    
    .footer-container {
        flex-direction: column;
        padding: 25px 10px;
    }

    .footer__leftblock,
    .footer__menu 
    {
        margin-bottom: 16px;
        width: 100%;
    }
    
    .footer__rightblock {
        max-width: 100%;
    }
}

@media (max-width:600px) {
    .menu {
        padding-top: 100px;
    }
    .feedback{ 
        max-width: 85%;
    }
    .feedback__container{
        max-width: 100%;
    }
}

@media (max-width: 480px) {
    .content-menu, 
    .price-list,
    .header__title{
        display: none;
    }
    .content {
        position: relative;
    }
    .content-menu { 
        position: absolute;
        padding-top: 50px;
        padding-left: 10px;
        width: 85%;
        top: -15px;
        height: 100vh;
        background-color: #fff;
        overflow: auto;

    }
    .content-menu--active{
        display: block;
    
    }
    .content__burger {
        display: block;
        position: relative;
        bottom: 10px;
        width: 30px;
        height: 20px;
        z-index: 50;
    }

    .content__burger span {
        position: absolute;
        background-color: #000;
        left: 0;
        width: 100%;
        height: 2px;
        top: 9px;
        transition: all 0.3s ease 0s;
    }

    .content__burger::before,
    .content__burger::after {
        content: '';
        background-color: #000;
        position: absolute;
        width: 100%;
        height: 2px;
        left: 0;
        transition: all 0.3s ease 0s;
    }

    .content__burger::before {
        top: 0;
    }

    .content__burger::after {
        bottom: 0;
    }

    .content__burger--active span {
        transform: scale(0);
    }

    .content__burger--active::before {
        transform: rotate(45deg);
        top: 9px;
    }

    .content__burger--active::after {
        transform: rotate(-45deg);
        bottom: 9px;
    }

}




